app-avatar {
    cursor: pointer;    
    ::ng-deep  {
        .icon-container {
            width:100px;
            height:100px;            
        }
        .status-circle {
            display: none;
        }
    }
}

@media only screen and (max-width: 600px) {
    app-avatar {
        margin-bottom: 10px;
        ::ng-deep  {
            .icon-container {
                width:70px;
                height:70px;
            }
        }
    }   
}