.mat-option {
    height:60px;
}

.button-like-chip{    
    border-radius: 20px;;
}

.movimientos-table{
    max-height: 250px; 
    overflow-y:auto;
}

app-avatar{
    ::ng-deep {
        .icon-container {
            width: 100px;
            height: 100px;
        }
        .status-circle {
            display:none;
        }
    }
}